.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #eeeeee;
  /*background: rgb(179,120,201);*/
  /*background: linear-gradient(189deg, rgba(179,120,201,1) 0%, rgba(196,144,205,1) 50%, rgba(202,91,255,1) 100%);*/
  font-family: 'Roboto', Arial, sans-serif;
  padding: 0 20px;
}

h1 {
  color: black;
}

.chatbox {
  width: 100%;
  max-width: 400px;
  min-height: 40vh;
  height: auto;
  max-height: 80vh;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: #dddddd;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  max-width: 80%;
  line-height: 1.4;
}

.user-message {
  align-self: flex-end;
  background-color: #2979FF;
  color: white;
}

.bot-message {
  align-self: flex-start;
  background-color: #ffffff;
  color: #212121;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  resize: vertical;
  min-height: 60px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  border-radius: 20px;
}

input[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #2979FF;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: #1C6EE8;
}

@media screen and (max-width: 600px) {
  .chatbox, form {
    width: 100%;
    max-width: none;
  }
}

.sample-prompts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
}

.prompt-button {
  background-color: #2979FF;
  color: white;
  border: none;
  padding: 10px;
  margin: 5px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.prompt-button:hover {
  background-color: #1C6EE8;
}
